@using System.ComponentModel.DataAnnotations
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using System.Linq

@model DojoLeagueViewModel
<div class="directory float-left w-25 ml-5">
    <div>
        <h3>Registered Ninjas</h3>
        <table class="table table-striped table-sm table-bordered">
            <thead class="text-gray-dark">
            <tr><th>Ninja Name:</th><th>Home Dojo</th></tr>
            </thead>
            @foreach (var ninja in Model.Ninjas)
            {
            <p> </p>
                <tr>
                    <td><a asp-action="ShowNinja" asp-route-id="@ninja.id">@ninja.name</a></td>
                    
                    
                    <td> <a asp-action="ShowDojo">@Model.Dojos.Where(d=>d.id == ninja.dojo_id).Select(d=>d.name).FirstOrDefault()</a> </td>
                    
                </tr>
            }
        </table>
       
    </div>
</div>
<div class="form float-right w-25 mr-5">
<div>
    <h3>Register a Ninja</h3>
    <form asp-action="CreateNinja" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="Ninja.name">Ninja Name:</label>
            <input asp-for="Ninja.name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Ninja.level">Ninja Level (1-10)</label>
            <select asp-for="Ninja.level" class="form-control">
                @for (int i = 1; i < 11; i++)
            {
                <option value="@i">@i</option>
    }
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Ninja.dojo_id">Assigned Dojo:</label>
            <select asp-for="Ninja.dojo_id" class="form-control">
                @foreach(var dojo in Model.Dojos) { 
                <option value="@dojo.id">@dojo.name</option>
        }

            </select>
        </div>

        <div class="form-group">
            <label asp-for="Ninja.description">Optional Description:</label>
            <textarea cols="25" rows="4" asp-for="Ninja.description" class="form-control">
             
            </textarea>
        </div>
        <input type="submit" value="add Ninja"/>
    </form>
    </div>
</div>